<template>
    <div class="vertical-box-column">
        <div class="media-body">
            <h5 class="media-heading title">API key</h5>
            <p class="comment">Use this key in your application by passing it with key=API_KEY parameter</p>
            <form action="/" method="POST">
                <fieldset>
                    <div class="row">
                        <div class="margin-right-100">
                            <label for="txtAPIKey">API key</label>
                        </div>
                        <div class="full-width-600">
                            <div>
                                <div class="inline-block apikey-text-size">
                                    <input type="text" class="form-control " id="txtAPIKey"/>
                                </div>
                                <div class="inline-block margin-left-10">
                                    <i class="far fa-copy" style="font-size:16px"></i>
                                </div>
                            </div>
                            <div class="margin-top-15">
                                <button type="submit" class="btn btn-sm btn-primary m-r-5">Regenerator</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "APIkeys"
    }
</script>

<style scoped>
    .vertical-box-column{border-left:1px solid #c3c4c4!important;}
    .apikey-text-size{ width: 270px;}
    #txtAPIKey{height:27px}
    .row{ margin-left:0!important; }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    @media screen and (max-width: 600px) {
        .apikey-text-size{
            width:80%;
        }
        .full-width-600{
            width:100%;
        }
    }

    .inline-block{ display:inline-block;}
    .margin-left-10{ margin-left:10px;}
    .margin-top-15{ margin-top:15px;}
    .margin-right-100{ margin-right:100px;}
</style>
