<template>
    <div class="vertical-box-column">
        <div class="media-body">

            <div class="panel-heading bg-transparent">
                <h5>
                    Mappings
                </h5>
            </div>
            <div class="commnet-body">
                This is Mappings Broadcasting is the distribution of audio or video content to a dispersed
                audience via any electronic mass communications medium, but typically one using the
                electromagnetic
                spectrum (radio waves), in a one-to-many model.
            </div>
            <div class="icon-body">
                <button v-b-modal.modal-message class="btn btn-sm btn-primary m-r-1 btn-sm">
                    <i class="fa fa-plus">
                    </i>
                </button>
            </div>
            <!-- #modal-alert -->
            <b-modal id="modal-message" title="Add new mapping" cancel-variant="default" ok-variant="primary"
                     ok-title="Add"
                     class="modal-message">
                <div>

                    <form class="mapping-input-form">
                        <center>
                            <table class="mapping-table">
                                <tr class="mapping-table-tr">
                                    <td class="mapping-table-id">
                                        Id
                                    </td>
                                    <td class="mapping-table-question">
                                        <span tabindex="0" data-toggle="tooltip" v-bind:title="message1">
                                        <h4>
                                            <font-awesome-icon icon="question-circle"/>
                                        </h4>
                                        </span>
                                    </td>
                                    <td class="with-checkbox">
                                        <input type="text" class="form-control"/>
                                    </td>
                                </tr>

                                <tr class="mapping-table-tr">
                                    <td class="mapping-table-id">
                                        Event Name
                                    </td>
                                    <td class="mapping-table-question">
                                        <span tabindex="0" data-toggle="tooltip" v-bind:title="message2">
                                        <h4>
                                            <font-awesome-icon icon="question-circle"/>
                                        </h4>
                                        </span>
                                    </td>
                                    <td class="with-checkbox">
                                        <input type="text" class="form-control"/>
                                    </td>

                                </tr>
                                <tr class="mapping-table-tr">
                                    <td class="mapping-table-id">
                                        Billable
                                    </td>
                                    <td class="mapping-table-question">
                                        <span tabindex="0" data-toggle="tooltip" v-bind:title="message3">
                                        <h4>
                                            <font-awesome-icon icon="question-circle"/>
                                        </h4>
                                        </span>
                                    </td>
                                    <td class="with-checkbox">
                                        <div class="checkbox checkbox-css">
                                            <input type="checkbox" id="cssCheckbox1" value=""/>
                                            <label for="cssCheckbox1">Checkbox</label>
                                        </div>
                                    </td>

                                </tr>

                            </table>
                        </center>
                    </form>
                </div>
            </b-modal>

            <div class="mapping-table">
                <table class="table table-striped table-th-valign-middle table-td-valign-middle m-b-0"
                       style="border:1px solid #9c9c9c">
                    <thead>
                    <tr>
                        <th width="10%" >#</th>
                        <th width="70%">Event name</th>
                        <th width="10%">Billable</th>
                        <th width="10%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in mappingItems" v-bind:key='index' height="45px">
                        <td class="with-img"  >
                            {{index + 1}}
                        </td>
                        <td>
                            <template v-if="item.btn1 != 'Edit'" >
                            <input type="text" :id="item.name" :value="item.name">
                            </template>
                            <template v-else>
                                {{item.name}}
                            </template>
                        </td>
                        <td class="with-checkbox">
                            <div class="checkbox checkbox-css">
                                <input v-if="item.checked" type="checkbox" value :id="item.name" checked>
                                <input v-else type="checkbox" value :id="item.name">
                                <label :for="item.name" :key="item.id">&nbsp;</label>
                            </div>
                        </td>
                        <td class="with-btn" nowrap="">
                            <a href="#" style="cursor: pointer"
                               v-on:click.prevent.stop="changeEditBtnType(index)"
                               v-bind:class="{[itemEditClass]: item.btn1 == 'Edit', [itemCancelClass]: item.btn1 != 'Edit'}">{{item.btn1}}</a>
                            <a href="#" style="cursor: pointer" v-if=" item.btn2 == 'Delete'"
                               v-on:click.stop="$delete(mappingItems, index)"
                               v-bind:class="{[itemEditClass]: item.btn1 != 'Edit', [itemCancelClass]: item.btn1 == 'Edit'}">{{item.btn2}}</a>
                            <a href="#" v-else style="cursor: pointer" v-on:click.stop=""
                               v-bind:class="{[itemEditClass]: item.btn1 != 'Edit', [itemCancelClass]: item.btn1 == 'Edit'}">{{item.btn2}}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Mappings",
        props: {
            headerRow: {
                type: Object,
            },
            columns: {
                type: Array,
            }
        },
        data() {
            return {
                mappingItems: [
                    {name: 'regist', checked: true, btn1: 'Edit', btn2: 'Delete'},
                    {name: 'orange', checked: false, btn1: 'Edit', btn2: 'Delete'},
                    {name: 'serv', checked: false, btn1: 'Edit', btn2: 'Delete'},
                    {name: 'dict', checked: false, btn1: 'Edit', btn2: 'Delete'}
                ],
                mappingItem: {name: 'Registration', checked: false},
                item: '',
                showEdit: true,
                showIndex: 0,
                editType: "Edit",
                itemEditClass: "btn btn-sm btn-primary",
                itemCancelClass: "btn btn-sm btn-white",
                message1: "a tooltip",
                message2: "a tooltip",
                message3: "a tooltip"
            }
        },
        methods: {
            changeEditBtnType: function (element) {
                // this.showEdit = !showEdit;
                this.mappingItems.forEach((e, i) => {
                    if (i == element) {
                        if (e.btn1 == 'Edit') {
                            this.mappingItems[element].btn1 = 'Cancel';
                            this.mappingItems[element].btn2 = 'Save';
                        }
                        else {
                            this.mappingItems[element].btn1 = 'Edit';
                            this.mappingItems[element].btn2 = 'Delete';
                        }
                    }

                });
                // this.showEdit = true;

            }

        }
    }
</script>

<style scoped>
    @media screen and (max-width: 600px) {
        .mapping-input-form {
            width: 100%;
        }

        .icon-body {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    @media screen and (min-width: 600px) {
        .icon-body {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .mapping-table-question {
        width: 20%;
        valign: "bottom";
    }

    .mapping-table-id {
        width: 30%;
    }

    .form-control {
        height: 30px;
    }

    .mapping-table-tr {
        height: 40px;
    }


</style>
