<template>
    <div class="vertical-box-column">
        <div class="media-body">
            <p>
                <h5 style="text-align: center;color:black">
                Usage
        </h5>

            <div class="container-fluid">
            <div class="row" style="margin-top: 15px; ">
                <div class="col-xl-12">
                        <div style="width:100%" class="card border-0 bg-blue-dark text-white mb-3 overflow-hidden">
                            <line-chart :data="lineChart.data" :options="lineChart.options" class="height-300"
                                        style="width:100%;position:relative;">
                            </line-chart>
                        </div>
                </div>
            </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xl-6"  >
                            <div class="card border-0 bg-blue-dark text-white text-truncate mb-5">
                                <div class="height-300"  >
                                    <vn-pie :model="pieChart.data"
                                            text-field="label"
                                            value-field="value"
                                            :show-tooltip-percent="true"
                                            :show-legend="true"></vn-pie>
                                </div>
                            </div>
                     </div>

                    <div class="col-xl-6" >
                            <div class="card border-0 bg-blue-dark text-white text-truncate mb-3">
                                <div class="height-300">
                                    <vn-pie :model="donutChart.data"
                                            text-field="label"
                                            value-field="value"
                                            :donut="true"
                                            :show-tooltip-percent="true"
                                            :show-legend="true"></vn-pie>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import LineChart from '../components/vue-chartjs/LineChart'

    export default {
        components: {
            LineChart,
        },
        name: "Overview",
        data() {
            var pieChartData = [
                {'label': 'One', 'value': 29, 'color': '#ff5b57'},
                {'label': 'Two', 'value': 12, 'color': '#f59c1a'},
                {'label': 'Three', 'value': 32, 'color': '#00ACAC'},
                {'label': 'Four', 'value': 196, 'color': '#5AC8FA'},
            ];
            var randomScalingFactor = function () {
                return Math.round(Math.random() * 100)
            };
            return {
                lineChart: {
                    data: {
                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                        datasets: [{
                            label: 'Dataset 1',
                            borderColor: '#348fe2',
                            pointBackgroundColor: '#348fe2',
                            pointRadius: 2,
                            borderWidth: 2,
                            backgroundColor: 'rgba(52, 143, 226, 0.3)',
                            data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                        }, {
                            label: 'Dataset 2',
                            borderColor: '#2d353c',
                            pointBackgroundColor: '#2d353c',
                            pointRadius: 2,
                            borderWidth: 2,
                            backgroundColor: 'rgba(45, 53, 60, 0.3)',
                            data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    max: 100
                                }
                            }]
                        }
                    }
                },
                pieChart: {
                    data: pieChartData
                },
                donutChart: {
                    data: pieChartData
                }
            }
        }
    }
</script>

<style scoped>

</style>
