<template>
    <div class="vertical-box with-grid inbox bg-white">
        <div class="vertical-box-column width-200 hidden-xs">
            <div class="vertical-box">
                <div class="wrapper">
                    <div class="d-flex align-items-center justify-content-center">
                        <b-button v-b-toggle.emailNav variant="inverse" class="btn-sm mr-auto d-block d-lg-none btn_inverse">
                            <i class="fa fa-cog"></i>
                        </b-button>
                    </div>
                </div>
                <b-collapse class="vertical-box-row collapse d-lg-table-row" id="emailNav">
                    <!-- begin vertical-box-cell -->
                    <h5 class="media-heading title" style="margin-left:20px;margin-bottom:20px">API References</h5>
                    <div class="vertical-box-cell" style="border:0;margin-top:-5px">
                        <!-- begin vertical-box-inner-cell -->
                        <div class="vertical-box-inner-cell">
                            <!-- begin scrollbar -->
                            <div data-scrollbar="true" data-height="100%">
                                <!-- begin wrapper -->
                                <div class="wrapper p-0">
                                    <ul class="nav nav-inbox">
                                        <li v-for="item in items"
                                            :key="item.id"
                                            :class="item.class"
                                            @click="set_active_id(item.id)">
                                            <router-link :to="'/' + item.path">{{item.text}}</router-link>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-collapse>
            </div>
        </div>
        <div class="vertical-box-column">
            <div class="media-body">
                <h5 class="media-heading title">POST Activity</h5>
                <p >Description</p>
                <p style="font-weight: bold">Request</p>
                <div class="table-responsive">
                    <table class="table table-striped m-b-0">
                        <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Type</th>
                            <th>Required</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Activity EventID</td>
                                <td>Int</td>
                                <td class="with-checkbox">
                                    <div class="checkbox checkbox-css">
                                        <input type="checkbox" value="" id="table_checkbox_1" checked />
                                        <label for="table_checkbox_2">&nbsp;</label>
                                    </div>
                                </td>
                                <td>EventId from your system</td>
                            </tr>
                            <tr>
                                <td>IP</td>
                                <td>String</td>
                                <td class="with-checkbox">
                                    <div class="checkbox checkbox-css">
                                        <input type="checkbox" value="" id="table_checkbox_2" />
                                        <label for="table_checkbox_2">&nbsp;</label>
                                    </div>
                                </td>
                                <td>Client's IP</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p style="font-weight: bold">Response</p>
                <div class="table-responsive">
                    <table class="table table-striped m-b-0">
                        <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Type</th>
                            <th>Required</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Activity EventID</td>
                            <td>Int</td>
                            <td class="with-checkbox">
                                <div class="checkbox checkbox-css">
                                    <input type="checkbox" value="" id="table_checkbox_3" checked />
                                    <label for="table_checkbox_2">&nbsp;</label>
                                </div>
                            </td>
                            <td>EventId from your system</td>
                        </tr>
                        <tr>
                            <td>IP</td>
                            <td>String</td>
                            <td class="with-checkbox">
                                <div class="checkbox checkbox-css">
                                    <input type="checkbox" value="" id="table_checkbox_4" />
                                    <label for="table_checkbox_2">&nbsp;</label>
                                </div>
                            </td>
                            <td>Client's IP</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h5 class="media-heading title">Samples</h5>
                <p style="margin-top:10px">Use this key in your description by passing it with key=API_Key parameter</p>
                <b-tabs nav-class="nav-tabs-inverse" nav-wrapper-class="nav nav-tabs nav-tabs-inverse" style="border:1px solid #9c9c9c">
                    <!-- begin tab -->
                    <b-tab active>
                        <template slot="title">
                            <span class="d-sm-none">Tab 1</span>
                            <span class="d-sm-block d-none">Javascript</span>
                        </template>

                        <h3 class="m-t-10"><i class="fa fa-cog"></i> Lorem ipsum dolor sit amet</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor,
                            est diam sagittis orci, a ornare nisi quam elementum tortor. Proin interdum ante porta est convallis
                            dapibus dictum in nibh. Aenean quis massa congue metus mollis fermentum eget et tellus.
                            Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, nec eleifend orci eros id lectus.
                        </p>
                        <p class="text-right m-b-0">
                            <a href="javascript:;" class="btn btn-white m-r-5">Default</a>
                            <a href="javascript:;" class="btn btn-primary">Primary</a>
                        </p>
                    </b-tab>
                    <!-- end tab -->
                    <!-- begin tab -->
                    <b-tab>
                        <template slot="title">
                            <span class="d-sm-none">Tab 2</span>
                            <span class="d-sm-block d-none">C#</span>
                        </template>

                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>
                            Nullam ac sapien justo. Nam augue mauris, malesuada non magna sed, feugiat blandit ligula.
                            In tristique tincidunt purus id iaculis. Pellentesque volutpat tortor a mauris convallis,
                            sit amet scelerisque lectus adipiscing.
                        </p>
                    </b-tab>
                    <!-- end tab -->
                    <!-- begin tab -->
                    <b-tab>
                        <template slot="title">
                            <span class="d-sm-none">Tab 3</span>
                            <span class="d-sm-block d-none">Java</span>
                        </template>

                        <p>
							<span class="fa-stack fa-4x pull-left m-r-10">
								<i class="fa fa-square-o fa-stack-2x"></i>
								<i class="fab fa-twitter fa-stack-1x"></i>
							</span>
                            Praesent tincidunt nulla ut elit vestibulum viverra. Sed placerat magna eget eros accumsan elementum.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis lobortis neque.
                            Maecenas justo odio, bibendum fringilla quam nec, commodo rutrum quam.
                            Donec cursus erat in lacus congue sodales. Nunc bibendum id augue sit amet placerat.
                            Quisque et quam id felis tempus volutpat at at diam. Vivamus ac diam turpis.Sed at lacinia augue.
                            Nulla facilisi. Fusce at erat suscipit, dapibus elit quis, luctus nulla.
                            Quisque adipiscing dui nec orci fermentum blandit.
                            Sed at lacinia augue. Nulla facilisi. Fusce at erat suscipit, dapibus elit quis, luctus nulla.
                            Quisque adipiscing dui nec orci fermentum blandit.
                        </p>
                    </b-tab>
                    <b-tab>
                        <template slot="title">
                            <span class="d-sm-none">Tab 3</span>
                            <span class="d-sm-block d-none">Python</span>
                        </template>

                        <p>
							<span class="fa-stack fa-4x pull-left m-r-10">
								<i class="fa fa-square-o fa-stack-2x"></i>
								<i class="fab fa-twitter fa-stack-1x"></i>
							</span>
                            Praesent tincidunt nulla ut elit vestibulum viverra. Sed placerat magna eget eros accumsan elementum.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis lobortis neque.
                            Maecenas justo odio, bibendum fringilla quam nec, commodo rutrum quam.
                            Donec cursus erat in lacus congue sodales. Nunc bibendum id augue sit amet placerat.
                            Quisque et quam id felis tempus volutpat at at diam. Vivamus ac diam turpis.Sed at lacinia augue.
                            Nulla facilisi. Fusce at erat suscipit, dapibus elit quis, luctus nulla.
                            Quisque adipiscing dui nec orci fermentum blandit.
                            Sed at lacinia augue. Nulla facilisi. Fusce at erat suscipit, dapibus elit quis, luctus nulla.
                            Quisque adipiscing dui nec orci fermentum blandit.
                        </p>
                    </b-tab>
                    <b-tab>
                        <template slot="title">
                            <span class="d-sm-none">Tab 3</span>
                            <span class="d-sm-block d-none">PHP</span>
                        </template>

                        <p>
							<span class="fa-stack fa-4x pull-left m-r-10">
								<i class="fa fa-square-o fa-stack-2x"></i>
								<i class="fab fa-twitter fa-stack-1x"></i>
							</span>
                            Praesent tincidunt nulla ut elit vestibulum viverra. Sed placerat magna eget eros accumsan elementum.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis lobortis neque.
                            Maecenas justo odio, bibendum fringilla quam nec, commodo rutrum quam.
                            Donec cursus erat in lacus congue sodales. Nunc bibendum id augue sit amet placerat.
                            Quisque et quam id felis tempus volutpat at at diam. Vivamus ac diam turpis.Sed at lacinia augue.
                            Nulla facilisi. Fusce at erat suscipit, dapibus elit quis, luctus nulla.
                            Quisque adipiscing dui nec orci fermentum blandit.
                            Sed at lacinia augue. Nulla facilisi. Fusce at erat suscipit, dapibus elit quis, luctus nulla.
                            Quisque adipiscing dui nec orci fermentum blandit.
                        </p>
                    </b-tab>
                    <!-- end tab -->
                </b-tabs>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Samples",
        data() {
            return {
                items: [
                    { id: 1, text: 'Post Activity', class: 'active' , path:'Samples'}, //default active
                    { id: 2, text: 'Get Activity', class: '' , path:'Samples'},
                ],
                previous_active_id: 1
            }
        },
        methods: {
            set_active_id(id) {
                if (this.previous_active_id === id) return //no need to go further
                this.items.find(item => item.id === this.previous_active_id).class = '' //remove the active class from old active li
                this.items.find(item => item.id === id).class = 'active' //set active class to new li
                this.previous_active_id = id //store the new active li id
            }
        },
    }
</script>

<style scoped>
    .vertical-box-column{border-left:1px solid #a9abab!important;}
    .table-striped{border:1px solid #9c9c9c}
    .table-striped td{border-left:1px solid #9c9c9c}
    .table-striped th{border-left:1px solid #9c9c9c;background-color:#cecece}
</style>
