<template>
    <div class="vertical-box-column">
        <div class="media-body">
            <h5 class="media-heading title" >Setting</h5>
            <form class="setting-form" >
                <table class="setting-form-table ">
                    <tr class="setting-form-table-tr">
                        <td class="mapping-table-id">
                            Timezone:
                        </td>
                        <td class="setting-table-question">
                            <h5>
                                <font-awesome-icon icon="question-circle"/>
                            </h5>
                        </td>
                        <td class="with-checkbox">
                            <select class="form-control" >
                                <option>Combobox</option>
                            </select>
                        </td>
                    </tr>

                    <tr style="height: 20%">
                        <td class="mapping-table-id">
                            Trim IP address:
                        </td>
                        <td class="setting-table-question">
                            <h5>
                                <font-awesome-icon icon="question-circle"/>
                            </h5>
                        </td>
                        <td class="with-checkbox">
                            <div class="switcher switcher-success">
                                <input type="checkbox" name="switcher_checkbox_2" id="switcher_checkbox_2" checked=""
                                       value="1">
                                <label for="switcher_checkbox_2"></label>
                            </div>
                        </td>

                    </tr>

                </table>

            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Setting"
    }
</script>

<style scoped>
    .vertical-box-column {
        border-left: 1px solid #c3c4c4 !important;
    }

    @media screen and (max-width: 600px) {


        .setting-form-table {
            width: 100%;
        }

        .media-heading title{
            margin-left:10px;
        }


        .setting-table-question {
            width: 25%;
        }
    }

    @media screen and (min-width: 600px) {
        .setting-form-table {
            width: 40%;
        }

        .setting-table-question {
            width: 25%;
        }
    }


    .form-control {
        width: 150px;
    }

    .setting-form-table-tr{
        height: 70px;
    }

</style>
