<template>
    <div class="vertical-box-column width-200 hidden-xs">
            <div class="vertical-box">
                <div class="wrapper">
                    <div class="d-flex align-items-center justify-content-center">
                        <b-button v-b-toggle.emailNav variant="inverse" class="btn-sm mr-auto d-block d-lg-none btn_inverse">
                            <i class="fa fa-cog"></i>
                        </b-button>
                    </div>
                </div>
                <b-collapse class="vertical-box-row collapse d-lg-table-row" id="emailNav">
                    <!-- begin vertical-box-cell -->
                    <div class="vertical-box-cell" style="border:0;margin-top:-5px">
                        <!-- begin vertical-box-inner-cell -->
                        <div class="vertical-box-inner-cell">
                            <!-- begin scrollbar -->
                            <div data-scrollbar="true" data-height="100%">
                                <!-- begin wrapper -->
                                <div class="wrapper p-0">
                                    <ul class="nav nav-inbox" >
                                        <li v-for="item in items"
                                            :key="item.id"
                                            :class="item.class"
                                            @click="set_active_id(item.id)">
                                            <router-link :to="'/' + item.text"><i class="fas fa-arrow-alt-circle-right fa-fw m-r-5" style="font-size:14px"></i> {{item.text}} </router-link>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-collapse>
            </div>
        </div>
</template>

<script>
    import PageOptions from '../config/PageOptions.vue'

    export default {
        data() {
            PageOptions.pageContentFullWidth = true;
            PageOptions.pageContentFullHeight = true;

            return {
                items: [
                    { id: 1, text: 'Overview', class: 'active' }, //default active
                    { id: 2, text: 'Mapping', class: '' },
                    { id: 3, text: 'Setting', class: '' },
                    { id: 4, text: 'APIkeys', class: '' },
                    { id: 5, text: 'Samples', class: '' }
                ],
                previous_active_id: 1
            }
        },
        methods: {
            set_active_id(id) {
                if (this.previous_active_id === id) return //no need to go further
                this.items.find(item => item.id === this.previous_active_id).class = '' //remove the active class from old active li
                this.items.find(item => item.id === id).class = 'active' //set active class to new li
                this.previous_active_id = id //store the new active li id
            }
        },
        beforeRouteLeave (to, from, next) {
            PageOptions.pageContentFullWidth = false;
            PageOptions.pageContentFullHeight = false;
            next();
        }
    }

</script>
<style>
    .vertical-box-column{border-left:1px solid #a9abab!important;}
    .btn_inverse {
        background-color: #2791ee!important;
        border-color: #d4d4d4!important;
    }
</style>
